.dice-roll{
    background: white;
    align-self:flex-end;
    margin:20px;
}

.dice-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.diceImg{
    background-color: white;
    width:50px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}


